body {
  height: 100vh;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.todo-list-item input[type=checkbox] {
  position: relative;
  top: 1px;
}
